<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Socket io</title>
    <script src="jquery.js"></script>
     <script src="socket.io/socket.io.js"></script>
<script>


// Giao dien len server
var socket = io("http://localhost:3004");


socket.on("Server-send-data", function(data){
     $("#noidung").append(data + ", ");
});

    $(document).ready(function(){
        $("#mrA").click(() => {
             socket.emit("Client-send-data", "Hello");
        }); 
    });
</script>
</head>

<body>
    <div id="mrA">Click send</div>
    <h2 id="noidung"></h2>
   
</body>
</html>